@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --primary-100: #e2edfc;
  --primary-200: #bed9f9;
  --primary-300: #85baf4;
  --primary-500: #354bcf;
  --primary-600: #0d55aa;
  --primary-700: #0d4a97;
  --primary-800: #0f417d;
  --primary-900: #123768;
  --primary-950: #0c2345;
  /* Secondary Colors */
  --secondary-200: #FFCDC6;
  --secondary-300: #ffab9f;
  --secondary-400:#FF7C68;

  --secondary-500: #fb5138;
  --secondary-600: #ea4229;
  --secondary-700: #c42811;
  --secondary-950: #490F06;


  /* Neutral Colors: */
  --grey-50: #f6f6f6;
  --grey-100: #e7e7e7;
  --grey-200: #d1d1d1;
  --grey-300: #b0b0b0;
  --grey-400: #888888;
  --grey-500: #6d6d6d;
  --grey-600: #5d5d5d;
  --grey-700: #4f4f4f;
  --grey-800: #454545;
  --grey-900: #3d3d3d;
  --grey-950: #1e1e1e;

  /* Blue colors */
  --blue-50: #324561;

  /* Background Colors */
  --background-2: #fff2db;
  --background-blur: #F9F4EBCC;


  /* Font weights  */
  --font-weight-normal: 400;
  --font-weight-semibold: 700;
  --font-weight-bold: 900;
}

@layer base {
  body {
    /* @apply bg-[#F9F4EB] font-sans; */
  }
}

.slick-slide > div {
  @apply 
  mx-2.5;
}

.swiper {
  @apply h-[800px] w-full;
}

.swiper-slide {
  @apply items-center justify-center bg-white text-center text-lg;
}

.slick-slide {
  @apply 
  
  space-y-8;
}

/* .slick-list {
  @apply space-y-8;
} */

.overflow-clip {

  overflow-x: clip;
}


.swiper-slide img {
  @apply block h-full w-full object-cover;
}

.noto-sans-tc-normal {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
}

.noto-sans-tc-semibold {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-semibold);
}

.noto-sans-tc-bold {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-size: 4rem;
  line-height: 77px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}



.noto-sans-tc-bold-mobile {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
  font-weight: var(--font-weight-bold);
  font-size: 24px;
  line-height: 28.8px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


.text-shadow {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);

}

.text-shadow-light {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

}


.slick-prev,
.slick-next {
  /* display: block !important;
  z-index: 10; */
  background: #c42811;
}


.swiper-button-next,
.swiper-button-prev {
  display: none;
}