@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Primary Colors */
  --primary-500: #354bcf;

  /* Secondary Colors */
  --secondary-500: #fb5138;
  --secondary-600: #ea4229;
  --secondary-700: #c42811;

  /* Background Colors */
  --background-2: #fff2db;
}

@layer base {
  body {
    @apply bg-[#F9F4EB] font-sans;
  }
}

.slick-slide > div {
  @apply mx-2.5;
}

.swiper {
  @apply h-[800px] w-full;
}

.swiper-slide {
  @apply items-center justify-center bg-white text-center text-lg;
}

.swiper-slide img {
  @apply block h-full w-full object-cover;
}
