@tailwind base;
@tailwind components;
@tailwind utilities;


:root {

  /* Primary Colors */
  --primary-500: #354bcf;

  /* Secondary Colors */
  --secondary-500: #fb5138;
  --secondary-600: #EA4229;
  --secondary-700: #C42811;


  /* Background Colors
  --background-2: #FFF2DB; */
}





@layer base {
  body {
    background-color: #F9F4EB;
    /* background-color: var(--primary-500); */
    ;
    font-family: "Noto sans";
  }
}




.slick-slide > div {
  margin: 0 10px;
}